*{
    margin: 0;
    padding: 0;
}

.carro-imagem {
    width:25% ;
}
.Cabecalho {
    background-color: #996464;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-lista {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Cabecalho-imagem {
    width: 10%;
}
.Peças{
    background-image: linear-gradient(#511536, #1D0713, #1D0C15, #000000
) }

.cabecalho-lista-item { 
    display: inline-block;
    margin: 0 16px
}